nav {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 200px;
  z-index: 2;
  ul {
    padding: 0;
    position: relative;
    width: 215px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    li {
      background-color: #f7f7f7;
      display: block;
      width: 66px;
      float: right;
      clear: both;
      border-left: 1px solid #999;
      border-right: 1px solid #999;
      border-bottom: 1px solid #999;
      a {
        display: block;
        height: 66px;
        width: 100%;
        position: relative;
        padding: 20px;
      }
    }
  }
}

.container {
  text-align: center;
  color: $gray;
  font-family: 'Lato', sans-serif;
  @include outer-container(1140px);
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }
}

.container-quote {
  @include outer-container(50%);
  padding-top: 90px;
}

.container-chart {
  @include outer-container(65%);
  h2 {
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
  }
}

.bg1 {
  background-color: #F7F7F7;
}

.hero {
  text-align: center;
  height: 360px;
  span {
    letter-spacing: -2px;
    display: inline-block;
    color: $gold;
    padding: 0 10px;
  }
  .container {
    padding-top: 40px
  }
  .hero__logo {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  .hero__title {
    font-family: $font-stack;
    font-weight: 300;
    font-style: italic;
  }
  .hero__copy {
    font-family: $font-stack;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    width: 93%;
    margin: 0 auto;
  }
}

.hero-img {
  height: 440px;
  background-image: url(../img/media-car.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}


.thisisme {
  height: 900px;
  h2 {
    margin-bottom: 15px;
  }
  .container {
    padding-top: 70px;
  }
  .thisisme__social {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      list-style-position: inside;
      display: inline-block;
    }
  }
  figure {
    img {
      margin: 45px auto;
      max-width: 100%;
    }
  }
}

#facebook, #twitter, #instagram {
  fill: #D9D9D9;
  @include transition(all 200ms ease-in-out);
  &:hover {
    fill: darken(#D9D9D9, 10%);
  }
}

.devices {
  height: 1130px;
  figure {
    margin-top: 90px;
    img {
      max-width: 100%;
    }
  }
  .container {
    padding-top: 60px;
  }
  .show-mq {
    display: none;
  }
}

.mobilefirst {
  height: 670px;
  span {
    letter-spacing: -2px;
    display: inline-block;
    color: $gold;
    padding: 0 10px;
  }
  figure {
    margin-top: 50px;
  }
  .container {
    padding-top: 70px;
  }
  .show-mq {
    display: none;
  }
}

.mobilefirst h5, 
.winmore h5 {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  position: relative;
  color: $gold;
  display: inline-block;
}

.ride {
  height: 760px;
  .container {
    padding-top: 100px;
  }
  figure {
    img {
      max-width: 100%;
    }
  }
}

.winmore {
  border-top: 1px solid #e1e1e1;
  height: 260px;
  h5 {
    margin-bottom: 20px; 
    font-size: 20px;
  }
  p {
    font-family: $font-stack;
    font-style: italic;
    font-size: 20px;
    color: $silver;
  }
}

.gold-separator {
  width: 40px;
  border-top: 2px solid $gold;
  margin: 20px auto;
}

.smile {
  height: 400px;
  background-color: $gold;
  text-align: center;
  .container-chart {
    padding-top: 15px;
  }
  h2 {
    color: white;
    text-transform: uppercase;
  }
}

.ipad {
  height: 800px;
  background: url(../img/ipad-bg.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

.block {
  @include span-columns(4);
  margin-top: 40px;
  margin-bottom: 10px;
}

.pie_progress {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pie_progress svg {
  margin: 0 auto;
}

.pie_progress__number {
  font-family: $font-stack;
  font-style: italic;
}
.pie_progress__content,
.pie_progress__number,
.pie_progress__label,
.pie_progress__icon {
  width: 100%;
  position: absolute;
  top: 42%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pie_progress__number {
  font-size: 42px;
}
.pie_progress__label {
  margin-top: 40px;
  font-size: 12px;
}

.quote {
  background-color: $bg-color-drk;
  height: 400px;
  text-align: center;
  q {
    font-family: $font-stack;
    font-size: 32px;
    font-style: italic;
    color: $gold;
  }
  footer {
    color: white;
    font-family: $font-stack;
    font-style: italic;
    text-align: center;
  }
  .ninja {
    display: none;
  }
}
