//@include media($desktop) {}


@media only screen and (max-width: 960px) {
  
  nav {
    width: 100%;
    height: 55px;
    ul {
      width: 100%;
      li {
        display: inline-block;
        width: 33.33%;
        float: right;
        clear: none;
        border-left: 0;
        a {
          display: block;
          height: 40px;
          width: 100%;
          position: relative;
          padding: 7px;
          text-align: center;
        }
      }
    }
  }

  .container {
    width: 750px;
  }
  .container-quote {
    @include outer-container(80%);
  }

  .thisisme h2, 
  .devices h2,
  .mobilefirst h2,
  .ride h2 {
    font-size: 34px;
  }

  
  .hero-img {
    background-position: 40% 40%;
  }

  .thisisme {
    figure {
      img {
        padding: 0;
        margin: 40px 0 15px 0,
      }
    }
  }

  .devices {
    height: 840px;
    figure {
      margin-top: 20px;
    }
  }

  .mobilefirst {
    height: 670px;
    .container {
      padding-top: 20px;
    }
    .show-mq {
      display: none;
    }
  }

  .ride {
    height: 700px;
    .container {
      padding-top: 50px;
      figure {
        img {
          margin-top: -100px;
        }
      }
    }
  }

  .winmore {
    h5 {
      margin-bottom: 0;
    }
  }

  .ipad {
    height: 800px;
    background-position: top center;
  }

  .quote {
    q {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container,
  .container-quote {
    width: 570px;
  }
  .container-chart {
    @include outer-container(90%);
  }
  .hero {
    .hero__copy {
      font-size: 18px;
    }
    .hero__title {
      font-size: 24px;
    }
  }
  .hero-img {
    background-position: 35% 35%;
  }
  .winmore {
    p, h5 {
      font-size: 18px;
    }
    p {
      line-height: 30px;
    }
  }
  .smile {
    h2 {
      font-size: 34px;
    }
  }
  .ipad {
    background-position: 60% 30%;
  }
  .mobilefirst {
    .show-mq {
      display: none;
    }
  }
}

@media only screen and (max-width: 320px) {
  .container,
  .container-chart,
  .container-qoute {
    width: 300px;
  }

  .hero {
    .hero__title {
      font-size: 16px;
    }
    .hero__copy  {
      font-size: 14px;
      line-height: inherit;
    }
  }

  .hero-img {
    height: 240px;
    background-position: 30% 30%;
  }

  .thisisme h2, 
  .devices h2,
  .mobilefirst h2,
  .ride h2,
  .smile h2 {
    font-size: 21px;
  }

  .devices p,
  .thisisme p,
  .mobilefirst p,
  .ride p,
  .winmore p {
    font-size: 14px;
    line-height: inherit;
  }

  .thisisme {
    height: 570px;
    .container {
      padding-top: 30px;
    }
    figure {
      img {
        margin: 20px auto;
      }
    }
  }

  .devices {
    height: 570px;
    .container {
      padding-top: 30px;
    }
    figure {
      img {
        margin-top: 40px;
        width: 90%;
      }
    }
  }

  .mobilefirst {
    height: 570px;
    .hidden-mq {
      display: none;
    }
    .show-mq {
      display: inline-block;
    }
  }

  .ride {
    height: 570px;
    .container {
      figure {
        img {
          margin-top: 10px;
        }
      }
    }
  }

  .smile {
    height: inherit;
    .block {
      @include span-columns(12);
      margin: 0 0 20px 0;
    }
  }

  .ipad {
    height: 570px;
    background-position: 53% 50%;
  }

  .quote {
    q {
      font-size: 18px;
    }
    .ninja {
      display: none;
    }
  }

}


